{% extends 'base.html.twig' %}

{% block title %}categories{% endblock %}

{% block body %}
<h1 class="text-5xl text-center p-5"> Category</h1>
<ul class="text-center px-16">


        <div class="container  p-4 mp-4">  
           <h1 class = "text-2xl ntext-center "> Category: {{ category.name}}</h1>
           <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
   
        {% for recipe in category.recipe %}
            
            <div class="bg-white  shadow-md rounded-lg overflow-hidden">
                <div class="p-5 r">
                <h3 class="text-3xl bg-gray-500 text-black p-5 ">{{ recipe.title }}</h3>
               
                 {% if recipe.picturefilename is not null %}
                              <p>
                             <img
                             src="{{ '/uploads/recipe/' ~ recipe.picturefilename }}"
                                  alt="{{ recipe.title }}"
                              class=" h-70 w-96 p-4 mx-auto"
                                  />
                           </p>
                 {% endif %}
                <p class="text-3xl text-black p-5" >{{ recipe.content }}</p>
                <time class="text-black" >Created At: {{ recipe.creatAt|date("m/d/Y") }}</time>
               </div>
               
            </div>
        {% else %}
            <li>No Recipe found for this category.</li>
        {% endfor %}

    </div>
    </div>
    </ul>
        

{% endblock %}