	<nav class =" bg-black p-5" >
	 
			<ul class="flex">
				<li >
					<a class="text-gray-500  hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5 {{ app.current_route == 'app_index' ? 'active' : '' }}" href="{{ path('app_index') }}">Accueil</a>
				</li>
				<li >
					<a  class="text-gray-500 hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5" href="{{ path('list_category') }} "> Category</a>
				</li>
				<li >
					<a  class="text-gray-500 hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5" href="{{ path('recipes_list') }} "> Recipes</a>
				</li>
				<li >
					<a  class="text-gray-500 hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5" href="{{ path('app_recipe') }} "> Add Recipe</a>
				</li>
				<li >
					<a  class="text-gray-500  hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5" href="{{ path('app_about') }} ">About</a>
				</li>
				<li >
					<a  class="text-gray-500  hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5" href="{{ path('admin') }} ">Login</a>
				</li>

				<li >
					<a  class="text-gray-500  hover:text-red-500 transition-colors duration-300 text-2xl pt-5 m-5" href="{{ path('app_newsletter') }} ">Subscribe</a>
				</li>
			</ul>
	 
	</nav>
			
			


			